<div id="add-channel-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>新しいチャットルーム</h5>
      <span class="modalClose" id="add-page-close-button">×</span>
    </div>
    <form name="addChannelForm" class="modal-body" action="/" method="POST">
      <p>名前</p>
      <input
        type="text"
        placeholder="name"
        class="modal-form-input"
        name="channelTitle"
      />
      <input
        type="text"
        placeholder="description"
        class="modal-form-input"
        name="channelDescription"
      />
      <button id="add-channel-confirmation-button">追加</button>
    </form>
  </div>
</div>
