/* 色を使い回しできるように変数にする */

:root {
  --green1:#ECF7DF; /* ログイン画面の背景色など */
  --green2:#E8F9D3; /* ボタン、 ホーム画面タブの後ろ側など*/
  --green3:#BCDEBE; /* ホーム画面の背景色、ログイン画面タブの後ろ側、モーダル外枠など*/
  --green4:#5DAB73; /* 文字色など*/
  --cream:#FFFAED; /* タブの前側など*/
  --navyblue:#4A4545; /* 文字色など（黒の代わり）*/
}


/* greenは1から4になるにつれて濃くなります*/
