/* 各モーダルのCSS */

.modal {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(240, 240, 240, 0.85);
  justify-content: center;
  align-items: center;
}

#add-channel-modal,
#update-channel-modal,
#delete-channel-modal,
#alarm-modal {
  display: none;
}

.modal-content {
  background-color: #FFFAED;
  margin: 20% auto;
  width: 70%;
  border: 12px solid #BCDEBE;;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  position: relative;
  border-radius: 1rem;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-header h1 {
  margin: 1rem 0;
}

.modal-header {
  background:  #BCDEBE;
  padding: 3px 15px 3px 32px;
  color: var(--navyblue);
  display: flex;
  justify-content: space-between;
}

.modal-header h5,
.modal-header span {
  z-index: 4;
}

.modalClose {
  font-size: 2rem;
}

.modalClose:hover {
  cursor: pointer;
}

.modal-body {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--snow);
  border-radius: 0 0 20px 20px;
}

.modal-form-input {
  /*
  width: 70%;
  background-color: #fff transparent;
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 0.5rem;
  color: var(--navyblue);
  border-radius: 10px;
  */
  border: solid 2px var(--navyblue);
  outline: none;
  margin-top: 8px;
  margin-bottom: 20px;
  width: 70%;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 1px 4px gray;
}

.modal-form-input::placeholder {
  color: lightgray;
  font-size: 12px;
}

/*
.modal-form-input:hover {
  background-color: var(--navy_blue);
  color: var(--snow);
}

.modal-form-input:focus {
  background-color: var(--navy_blue);
  color: var(--snow);
}
*/

.modal-gif {
  position: absolute;
  z-index: 2;
  top: -65px;
  left: 30%;
}

.modal-body p,
.modal-body a {
  width: 70%;
  color: var(--navyblue);
}

.modal-body button {
  width: 30%;

  color: var(--green4);
  height: 40px;
  border-radius: 10px;
  background-color: var(--green2);
  text-align: center;
  border: solid 2px var(--navyblue);
  box-shadow: 0px 1px 4px gray;
  margin-bottom: 12px;
  margin-left: 24rem;
}

#delete-channel-confirmation-button {
  width: 100%;
}

/*
.modal-body button:hover {
  background-color: var(--middle_pink);
}
*/

/* ========================================================== */
/* レスポンシブ */

@media screen and (max-width: 639px) {
  .modal-content {
    margin: 35% auto;
    width: 95%;
  }
  #modal-gif {
    display: none;
  }
}

@media only screen and (min-width: 640px) and (max-width: 670px) {
  .modal-content {
    width: 95%;
  }
  .modal {
    padding-left: 60px;
  }
}
@media only screen and (min-width: 671px) and (max-width: 1024px) {
  .modal-content {
    width: 80%;
  }
  .modal {
    padding-left: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-content {
    width: 70%;
  }
}

@media screen and (min-width: 1025px) {
  .modal-content {
    width: 50%;
  }
}
